    <aside class="aside">

      <h3>Skills</h3>
      <section>
      <%= link_to 'Rails', tag_path(:rails), class: :skill  %> <span class="rating"><i class="fa fa-circle"></i></span>
        <%= link_to 'Ruby', tag_path(:ruby), class: :skill  %>
        <%= link_to 'JavaScript', tag_path(:javascript), class: :skill  %>
        <%= link_to 'HTML & CSS', tag_path(:html), class: :skill  %>
      </section>
      <h3>Contact</h3>
      <section>
        <a href="mailto:brymac@gmail.com" class="icon"><i class="fa fa-envelope-o"></i>brymac@gmail.com</a>
        <a href="http://twitter.com/bmacdia" target="_blank" class="icon"><i class="fa fa-twitter"></i>@bmacdia</a>
        <a href="https://github.com/brymacto" target="_blank" class="icon"><i class="fa fa-github"></i>/brymacto</a>
        <a href="https://ca.linkedin.com/in/brymac" target="_blank" class="icon"><i class="fa fa-linkedin"></i>/brymac</a>
      </section>



    </aside>