<h1><%= title 'About me' %></h1>

<figure class='small'>
  <img class="small" src="http://s3.amazonaws.com/brymac/upl/about/cake.jpg" alt="Full aside" />
  <figcaption>My computer interest in my younger years, in cake form.</figcaption>
</figure>

<p>I grew up as a computer nerd, and as a young teenager I was learning the basics of Visual Basic, Java, and HTML.  As a teenager I started selling my Visual Basic software as Shareware, such as <a href="http://download.cnet.com/BitmapEx/3000-2072_4-6941583.html?tag=bc" target="_blank">BitmapEx</a> (which looks ridiculous in 2015 of course).</p>

<p>I knew early on I wanted to work in programming or as a "webmaster" (that being a more popular job back then), but along the way something changed: I somehow lost my way and left that path.  I ended up at UofT, doing a degree in Economics &amp; Political Science.  I was by no means passionate about either subject, but I was moderately interested and at the time I thought that was sufficient. </p>

<p>During my time at University I started work in the non-profit sector, starting as a special events intern.  After graduation I stayed in the sector, moving into marketing (focussed largely on online marketing).  My work was hugely rewarding, and I learned a lot from some great colleagues and mentors.</p>

<p>In recent years I started to explore basic web development once again. I took on some extra projects at work where I was able to learn JavaScript and JQuery, and those were some of my most rewarding days on the job.  I took on some side projects which were also a lot of fun. </p>

<p>For many years, aside from my dabbling in basic front-end development &amp; design, I didn't touch any programming.  I knew I had a long way to go and that it wouldn't be easy, but I was feeling the urge on a regular basis to follow my passion and make a career change to become a web developer.</p>

<p>In 2013 I first read about Bitmaker Labs <a href="http://www.theglobeandmail.com/report-on-business/careers/career-advice/from-zero-to-web-programmer-in-nine-weeks/article11684850/" target="_blank">in the Globe and Mail</a> and was intrigued by the alternative to going back to school for another degree.  It took a couple years to get the courage to take the leap and enroll.</p>

<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">💙these students so much! Props to everyone on hustling through the nine week <a href="https://twitter.com/hashtag/WebDev?src=hash">#WebDev</a> program. You rock!! <a href="https://twitter.com/hashtag/WDjune15?src=hash">#WDjune15</a> <a href="http://t.co/bll9oFuo3f">pic.twitter.com/bll9oFuo3f</a></p>&mdash; Bitmaker Labs (@bitmakerlabs) <a href="https://twitter.com/bitmakerlabs/status/629767741256286208">August 7, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Since then, I haven't looked back.  I feel very fortunate to have had the opportunity to join <a href="https://nulogy.com/" target="_blank">Nulogy</a> as their first <a href="http://chimera.labs.oreilly.com/books/1234000001813/index.html" target="_blank">software apprentice</a> in the fall of 2015.</p>