<p>I'm a Toronto-based web developer, with a focus on Ruby, Rails, and JavaScript.  I can be found at <a href="https://nulogy.com/" target="_blank">Nulogy</a>, where I'm a software apprentice.</p>


<h2><%= link_to 'Blog: latest post <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>'.html_safe, posts_path  %></h2>
<div class="blogPreview">
  <% @posts.each do |post| %>
  <%= render post if post != nil %>
  <% end %>
</div>

<h2><%= link_to 'Featured projects <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>'.html_safe, projects_path  %></h2>

<div class="featured_projects_wrapper">
  <% @projects.each do |project| %>
  <div class="featured_project">
    <%= render project if project != nil %>
  </div>
  <% end %>

</div>