<p>I'm a Toronto-based junior web developer, with a focus on Ruby, Rails, and JavaScript.  In August, 2015, I completed the <a href="https://bitmakerlabs.com/" target="_blank">Bitmaker Labs</a> web development program.</p>

<p>As I'm just getting started in web development, I have a long 'to-learn' list and I'll document that here in my blog and as I share projects I'm working on.</p>



<h2><%= link_to 'Blog: latest post', posts_path  %></h2>
<div class="blogPreview">
  <% @posts.each do |post| %>
  <%= render post if post != nil %>
  <% end %>
</div>

<h2>Featured Projects</h2>

<div class="featured_projects_wrapper">

  <% @projects.each do |project| %>
  <div class="featured_project">
    <%= render project if project != nil %>
  </div>
  <% end %>

</div>