<h1>Projects</h1>
<% if current_user %>
<div class="admin_section">
  <%= link_to 'New Project', new_project_path %>
</div>
<% end %>
<% if @projects && @projects.count > 0 %>
  
<% @projects.each do |project| %>
<%= render project %>
<% end %>
<% end %>


