<% if current_user %>
<div class="admin_section">
  <%= link_to 'Edit', edit_project_path(@project) %> 
</div>
<% end %>



<%= render 'detail' %>

<% if @posts.count > 0 %>
<h2>Blog posts related to <%= @project.title %></h2>
<% @posts.each do |post| %>
  <%= render post if post != nil %>
  <% end %>
<% end %>