<article class="post postDetail">
<h3 class="postDetail-header post-header">
<%= link_to @post.title, @post  %></h3>

<div class="postDetail-date post-date"><%= @post.date %></div> 
<p class="postDetail-contents">
  <%= @post.contents.html_safe %> 
</p>

</article>