<article class="postCard">
<h3 class="postCard-header post-header">
<%= link_to post.title, post  %></h3>

<div class="postCard-date post-date"><%= post.date %></div> 
<p class="postCard-snippet">
  <%= truncate(post.contents, length: 300) %> 
  <span class="postCard-link"><%= link_to 'More', post_path(post) %></span>
</p>

</article>