aside {
  h3 {
    background-color: $c_red;
    color: #fff;
    padding: 0.5em;
    font-family: $f_sans;
    font-size:0.8rem;
    text-transform: uppercase;
  }

  section {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }

  .contact_methods{
      i {
        margin-right: 0.5em;
      }
  } 

  .rating {
    font-weight: bold;
    color: $medium_gray;
    display: block;
    i {
      margin-left: 0.25em;
    }
  }

  @media screen and (max-width: $medium-screen), screen and (min-width: $x-large-screen) {
    .rating {
      vertical-align: middle;
      float: right;
    }
  }

}



