aside {
  h3 {
    background-color: $c_blue;
    color: #fff;
    padding: 0.5em;
    font-family: $f_sans;
    font-size:0.8rem;
    text-transform: uppercase;
  }

  section {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
  }

  .contact_method {
    display: block;
    i {
      margin-right: 1em;
    }
  }
.rating {
  font-weight: bold;
  color: $c_red;
  display: block;
  i {
    margin-left: 0.25em;
  }
}

@media screen and (min-width: $x-large-screen) {
  .rating {
    vertical-align: middle;
    float: right;
  }
}

}



