body {
  background-color: $c_bg;
  font-family: $f_sans;
  padding-top: 1em;
}

.wrapper {
  padding: 1rem;
  @include outer-container;
  header { @include span-columns(12);}
  .main { @include span-columns(12); }
  .aside { @include span-columns(12); }
}




nav
{ 
float: right;
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
    li {
    display: inline;
    }
  }
}


h1 {
  color: $c_red;
  font-family: $f_source;
  &.logo {
    font-weight: 100;
    font-size: 3rem;
    margin-bottom: 0rem;
  }
}


h2 {
  font-family: $f_sans;
  font-size:1.5em;
  background-color:$c_blue;
  color:$c_white;
  font-weight:400;
  padding: 0.5rem 0.75rem;
  margin-bottom:0.5em;
  &.postCard-header {
    background-color: inherit;
    color: $c_blue_2;
    padding: 0.5rem 0;
  }
}



@media screen and (min-width: $medium-screen) {
  .wrapper {
    header { @include span-columns(12);}
    .main { @include span-columns(8); }
    .aside { @include span-columns(4); } 
  }
  h1.logo {
    font-size: 4rem;
  }
}